### **IT trends analysis | Main analysis | Data preparation**
**Data source:** survey_data.csv

**Scenario:** Prepare data for further analysis and visualization

Additional tasks: 
* Normalize CompTotal column (all should be 'yearly')
* Fix Gender column to include only 3 categories
* Verify WorkLoc, no missing values are allowed

**Skills demonstrated:**

* Python (Pandas)
* Data pre-processing
* Clean coding

**Performed by:** Jarek Krzysztofik

In [1]:
import pandas as pd

## 1. Load

In [2]:
df = pd.read_csv(r'C:\Users\krzys\Desktop\Python\IBM DA Capstone Project_Portfolio version\1. Raw_data\survey_data.csv')

In [3]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

## 2. Transform

In [4]:
cols_need = ['Respondent', 
             'MainBranch', 
             'Country', 
             'EdLevel', 
             'UndergradMajor', 
             'DevType', 
             'YearsCode', 
             'CompFreq',
             'CompTotal', 
             'ConvertedComp',
             'WorkWeekHrs',
             'WorkLoc', 
             'CodeRevHrs', 
             'LanguageWorkedWith', 
             'LanguageDesireNextYear', 
             'DatabaseWorkedWith', 
             'DatabaseDesireNextYear', 
             'PlatformWorkedWith', 
             'PlatformDesireNextYear', 
             'WebFrameWorkedWith', 
             'WebFrameDesireNextYear', 
             'OpSys', 
             'Age', 
             'Gender']

In [5]:
#Drop columns that are not needed

for column in df:
    if column not in cols_need:
        df.drop(labels=column, axis=1, inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11552 entries, 0 to 11551
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              11552 non-null  int64
 1   MainBranch              11552 non-null  object
 2   Country                 11552 non-null  object
 3   EdLevel                 11436 non-null  object
 4   UndergradMajor          10812 non-null  object
 5   DevType                 11485 non-null  object
 6   YearsCode               11543 non-null  object
 7   CompTotal               10737 non-null  float64
 8   CompFreq                11346 non-null  object
 9   ConvertedComp           10730 non-null  float64
 10  WorkWeekHrs             11427 non-null  float64
 11  WorkLoc                 11520 non-null  object
 12  CodeRevHrs              9083 non-null   float64
 13  LanguageWorkedWith      11541 non-null  object
 14  LanguageDesireNextYear  11415 non-null  object
 15  DatabaseWorkedWith      11096 non-null  object
 16  DatabaseDesireNextYear  10497 non-null  object
 17  PlatformWorkedWith      11130 non-null  object
 18  PlatformDesireNextYear  10991 non-null  object
 19  WebFrameWorkedWith      10139 non-null  object
 20  WebFrameDesireNextYear  9918 non-null   object
 21  OpSys                   11518 non-null  object
 22  Age                     11255 non-null  float64
 23  Gender                  11477 non-null  object
dtypes: float64(5), int64(1), object(18)
memory usage: 2.1+ MB

## 3. Clean

**3.1. Fix data types**

In [6]:
#YearsCode needs to be changed into numeric type.
#To do so, I will first change all 'Less than one year' values to 0.5.

indices = df.index[df['YearsCode'] == 'Less than 1 year'].tolist()

for index in indices:
    df.loc[index, 'YearsCode'] = 0.5

In [7]:
df['YearsCode'] = pd.to_numeric(df['YearsCode'])

In [8]:
df.YearsCode.info()

<class 'pandas.core.series.Series'>
RangeIndex: 11552 entries, 0 to 11551
Series name: YearsCode
Non-Null Count  Dtype
--------------  -----
11543 non-null  float64
dtypes: float64(1)
memory usage: 90.4 KB

**3.2. Remove duplicates**

In [9]:
#Check duplicates
df.duplicated().sum()

154

In [10]:
#Drop duplicates
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

**3.3. Identify missing values**

In [11]:
print(df.isna().sum())
print('Total missing values:', df.isna().sum().sum())
print('Size:', df.shape)

Respondent                   0
MainBranch                   0
Country                      0
EdLevel                    112
UndergradMajor             737
DevType                     65
YearsCode                    9
CompTotal                  809
CompFreq                   206
ConvertedComp              816
WorkWeekHrs                122
WorkLoc                     32
CodeRevHrs                2426
LanguageWorkedWith          11
LanguageDesireNextYear     134
DatabaseWorkedWith         453
DatabaseDesireNextYear    1042
PlatformWorkedWith         411
PlatformDesireNextYear     544
WebFrameWorkedWith        1393
WebFrameDesireNextYear    1617
OpSys                       34
Age                        287
Gender                      73
dtype: int64
Total missing values: 11333
Size: (11398, 24)

In [12]:
#Columns where missing values are potentially problematic
#'WorkLoc' included as requested
cols_miss_problem = ['YearsCode', 'ConvertedComp', 'WorkLoc', 'Age', 'Gender']

def check_missings():
    for column in df:
        if column in cols_miss_problem:
        
            missings = df[column].isna().sum()
            missings_as_percent = (missings/df.shape[0])*100
            significance = 'Yes' if missings_as_percent >= 5 else 'No'
            # Significance assumed as 5%

            print(column,
                '\n \t Missing values:', 
                missings, 
                '\n \t', '% of total:', round(missings_as_percent,2),
                '\n \t', 'Significant:', significance)

check_missings()

YearsCode
 	 Missing values: 9
 	 % of total: 0.08
 	 Significant: No
ConvertedComp
 	 Missing values: 816
 	 % of total: 7.16
 	 Significant: Yes
WorkLoc
 	 Missing values: 32
 	 % of total: 0.28
 	 Significant: No
Age
 	 Missing values: 287
 	 % of total: 2.52
 	 Significant: No
Gender
 	 Missing values: 73
 	 % of total: 0.64
 	 Significant: No

**3.4. Impute or remove missing values**

| Variable | Action |
| --- | --- |
| YearsCode | impute, average |
| ConvertedComp | impute, median |
| WorkLoc | impute, most frequent |
| Age | impute, average |
| Gender | drop |

Neither filling missing values as 'Man' (most frequent) nor assuming those as other than 'Man' or 'Woman' seems appropriate. Therefore all rows with missing Gender information are excluded (0.64% of all records).

In [13]:
#YearsCode, Age
cols_to_interpolate = ['YearsCode', 'Age']

for col in cols_to_interpolate:
    df[col].interpolate(method='linear', inplace=True)

In [14]:
#ConvertedComp
df['ConvertedComp'] = df['ConvertedComp'].fillna(df['ConvertedComp'].median())

In [15]:
#WorkLoc
most_freq_val = df['WorkLoc'].value_counts().idxmax()
most_freq_val

'Office'

In [16]:
df['WorkLoc'].fillna(value=most_freq_val, inplace=True)

In [17]:
#Gender
df.Gender[(df.Gender != 'Man') & (df.Gender != 'Woman')].value_counts()

Non-binary, genderqueer, or gender non-conforming              63
Man;Non-binary, genderqueer, or gender non-conforming          26
Woman;Non-binary, genderqueer, or gender non-conforming        14
Woman;Man                                                       9
Woman;Man;Non-binary, genderqueer, or gender non-conforming     2
Name: Gender, dtype: int64

In [18]:
df.dropna(subset=["Gender"], inplace=True)

In [19]:
check_missings()

YearsCode
 	 Missing values: 0
 	 % of total: 0.0
 	 Significant: No
ConvertedComp
 	 Missing values: 0
 	 % of total: 0.0
 	 Significant: No
WorkLoc
 	 Missing values: 0
 	 % of total: 0.0
 	 Significant: No
Age
 	 Missing values: 0
 	 % of total: 0.0
 	 Significant: No
Gender
 	 Missing values: 0
 	 % of total: 0.0
 	 Significant: No

## 4. Normalize data

**4.1. CompFreq**

In [20]:
df.CompFreq.value_counts()

Yearly     6036
Monthly    4753
Weekly      330
Name: CompFreq, dtype: int64

In [21]:
CompYear = []

def comp_normalization():

    for x, y in zip(df['CompFreq'], df['CompTotal']):
        if x == 'Weekly':
            CompYear.append(y*52)
        elif x == 'Monthly':
            CompYear.append(y*12)
        else:
            CompYear.append(y)

comp_normalization()

df['NormAnnualComp'] = CompYear

df['NormAnnualComp'].head(5)

0     61000.0
1    138000.0
2     90000.0
3    348000.0
4     90000.0
Name: NormAnnualComp, dtype: float64

**4.2. Gender**

All repondents' answers are respected, however for the purpose of this analysis the level of precision as: 'Man', 'Woman', 'Non-conforming' is sufficient.

In [22]:
df.Gender.value_counts()

Man                                                            10480
Woman                                                            731
Non-binary, genderqueer, or gender non-conforming                 63
Man;Non-binary, genderqueer, or gender non-conforming             26
Woman;Non-binary, genderqueer, or gender non-conforming           14
Woman;Man                                                          9
Woman;Man;Non-binary, genderqueer, or gender non-conforming        2
Name: Gender, dtype: int64

In [23]:
nonconforming_indices = df.index[(df.Gender != 'Man') & (df.Gender != 'Woman')].tolist()

for index in nonconforming_indices:
    df.loc[index, 'Gender'] = 'Non-conforming'

In [24]:
df.Gender.value_counts()

Man               10480
Woman               731
Non-conforming      114
Name: Gender, dtype: int64

## 5. Additional cleaning

I left WorkWeekHrs column in df because it allows to easy identify incorrect values. Now I am assuming 140h per week as a safe margin and dropping every record above due to the risk that the answer set is not reliable.

**Note**: WorkWeekHrs variable is defined in the survey's documentation as *On average, how many hours per week do you work?*

In [25]:
above140 = df[df['WorkWeekHrs'] > 140]
above140.WorkWeekHrs.value_counts()

375.0     27
160.0     20
168.0     19
385.0      8
150.0      4
475.0      1
1012.0     1
355.0      1
145.0      1
425.0      1
165.0      1
Name: WorkWeekHrs, dtype: int64

In [26]:
above140.WorkWeekHrs.count()

84

In [27]:
#Before dropping
df.Respondent.count()

11325

In [28]:
df.drop(df.loc[df['WorkWeekHrs'] > 140].index, inplace=True)

#After dropping
df.Respondent.count()

11241

## 6. Check and save

In [29]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11241 entries, 0 to 11551
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              11241 non-null  int64
 1   MainBranch              11241 non-null  object
 2   Country                 11241 non-null  object
 3   EdLevel                 11131 non-null  object
 4   UndergradMajor          10523 non-null  object
 5   DevType                 11176 non-null  object
 6   YearsCode               11241 non-null  float64
 7   CompTotal               10442 non-null  float64
 8   CompFreq                11036 non-null  object
 9   ConvertedComp           11241 non-null  float64
 10  WorkWeekHrs             11119 non-null  float64
 11  WorkLoc                 11241 non-null  object
 12  CodeRevHrs              8840 non-null   float64
 13  LanguageWorkedWith      11230 non-null  object
 14  LanguageDesireNextYear  11108 non-null  object
 15  DatabaseWorkedWith      10792 non-null  object
 16  DatabaseDesireNextYear  10215 non-null  object
 17  PlatformWorkedWith      10836 non-null  object
 18  PlatformDesireNextYear  10704 non-null  object
 19  WebFrameWorkedWith      9865 non-null   object
 20  WebFrameDesireNextYear  9645 non-null   object
 21  OpSys                   11208 non-null  object
 22  Age                     11241 non-null  float64
 23  Gender                  11241 non-null  object
 24  NormAnnualComp          10442 non-null  float64
dtypes: float64(7), int64(1), object(17)
memory usage: 2.2+ MB

In [31]:
df.to_csv(r'C:\Users\krzys\Desktop\Python\IBM DA Capstone Project_Portfolio version\2. Data_preparation\survey_data_cleaned.csv')